@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url('/path-to-poppins-font/Poppins-Regular.ttf') format('truetype');

}

body {
  font-family: 'Poppins', sans-serif;
}

.slick-prev:before, .slick-next:before {
  color: rgb(93, 34, 4) !important;
}
.progressGrid {
  width: 29rem;
  height: 9rem;
}

.bg-combined {
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-combined::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/assets/coffeeBackground.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -2;
}

.bg-combined::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/assets/coffeebeans.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -3;
}

.bg-combined.darkening::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: -1;
}



