@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}
/* Import the Poppins font using @font-face */
@font-face {
  font-family: 'Poppins';
  src: url('/path-to-poppins-font/Poppins-Regular.ttf') format('truetype');
  /* Add additional font weights and styles if needed */
  /* font-weight: normal; */
  /* font-style: normal; */
}

/* Apply the custom font to specific elements */
body {
  font-family: 'Poppins', sans-serif;
}

/* Add any other custom styles as needed */
