@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url('/path-to-poppins-font/Poppins-Regular.ttf') format('truetype');

}

body {
  font-family: 'Poppins', sans-serif;
}

.slick-prev:before, .slick-next:before {
  color: rgb(93, 34, 4) !important;
}
.progressGrid {
  width: 29rem;
  height: 9rem;
}

.blurred {
  background-color: #f6f4f1;


}

.image-h {
  height: 5rem;
}

.wrapper {
  position: relative;
  width: 420px;
  height: 600px;
  background: transparent;
  border: 2px solid rgba(255 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 30px rgba(0,0,0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2rem;
  color:rgb(243, 192, 129);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #9F643D;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color:black;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;



}


.input-box:focus-within label {
  top: -5px;
}



.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color:black;
  font-size: 600;


}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #332421;
  line-height: 57px;

}


.remember-forgot {
  font-size: .9em;
  color: black;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;

}


.remember-forgot label input {
  accent-color: #A98E77;
  margin-right: 4px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 100%;
  background: #A98E77;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500px ;
  margin-top: 29px;
  color: black;
}

.btn:hover {
  background: #61493C
}

.login-register {
  font-size: .9em;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}


.login-register p a {
color: black;
text-decoration: none;
font-weight: 600;
}
.login-register p a:hover {
  text-decoration:  underline;
  cursor: pointer;
}



.hover-button::before {
  content: 'Home';
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hover-button:hover::before {
  opacity: 1;
  z-index: 10;
}

.hover-button:hover svg {
  opacity: 0;
}

.friends-hover-button::before {
  content: 'Friends';
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.friends-hover-button:hover::before {
  opacity: 1;
  z-index: 10;
}

.friends-hover-button:hover svg {
  opacity: 0;
}

.chat-hover-button::before {
  content: 'Chat';
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chat-hover-button:hover::before {
  opacity: 1;
  z-index: 10;
}

.chat-hover-button:hover svg {
  opacity: 0;
}

.coffee-hover-button::before {
  content: 'Coffee';
  position: absolute;
  opacity: 0;
  white-space: nowrap;  /* To prevent wrapping of text */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.coffee-hover-button:hover::before {
  opacity: 1;
  z-index: 10;
}

.coffee-hover-button:hover svg {
  opacity: 0;
}

.calendar-hover-button::before {
  content: 'Calendar';
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.calendar-hover-button:hover::before {
  opacity: 1;
  z-index: 10;
}

.calendar-hover-button:hover svg {
  opacity: 0;
}

.favorites-hover-button::before {
  content: 'Favs';
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.favorites-hover-button:hover::before {
  opacity: 1;
  z-index: 10;
}

.favorites-hover-button:hover svg {
  opacity: 0;
}


/*  ====================================================================================== */
.bg-combined {
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-combined::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/assets/coffeeBackground.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -2;
}

.bg-combined::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/assets/coffeebeans.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -3;
}

.bg-combined.darkening::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: -1;
}

